@import 'onion-skin.css';
@import 'drag-mirror.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.loading {
	background: #FFFFF0;
}

.autocomplete {
	border: 1px solid #444;
	border-radius: 20px;
	margin: 20px 0;
	padding: 10px;
}

.info {
	padding: 10px;
	color: blue;
	background: lightblue;
	border: 1px solid darkblue;
	border-radius: 20px;
}