@import 'onion-skin.css';
@import 'swipe-compare.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #CEDCDF;
	font-family: Helvetica, "Lucida Grande", sans-serif;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 50px;
}

.loading {
	background: #FFFFF0;
}

.autocomplete-wrapper {
	border: 1px solid #444;
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 10px;
}

.info {
	padding: 10px;
	color: blue;
	background: lightblue;
	border: 1px solid darkblue;
	border-radius: 20px;
}

.onion-skin-wrapper,
.swiper-wrapper {
	margin-bottom: 30px;
}