.swipe-compare-contents {
	position: relative;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.swipe-compare-contents .swipe-compare-line {
	background: #000;
	border: none;
	border-left: 1px solid rgb(170, 193, 200);
	border-right: 1px solid rgb(170, 193, 200);
	cursor: ew-resize;
	height: 100%;
	margin: 0;
	position: absolute;
	width: 3px;
	z-index: 15;
}

.swipe-compare-contents .swipe-compare-image {
	vertical-align: top;
	pointer-events: none;
}

.swipe-compare-contents .swipe-compare-bottom {
	position: relative;
	z-index: 5;
}

.swipe-compare-contents .swipe-compare-top {
}

.swipe-compare-contents .swipe-compare-top-wrapper {
	z-index: 10;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	position: absolute;
}

.dragging {
	box-shadow: 0px 0px 4px #aaa;
}

.swipe-compare-info-section {
	display: inline-block;
	width: 25%;
}

.swipe-compare-top-info {
	float: left;
}

.swipe-compare-bottom-info {
	float: right;
	text-align: right;
}